* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}






/* Footer */
.attribution {
  font-size: 11px;
  text-align: center; 
  position: fixed;
  bottom: 4px;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}